.carouselContainer {
    padding: 2rem 0;
    overflow: hidden;
    width: 100%;
    background: #FAFAFA;
    margin: 0 auto;
    border-bottom: 1px solid #E5E1DC;
    border-top: 1px solid #E5E1DC;
}

.swiper {
    width: 100%;
}

.slide {
    width: auto !important;
}

.brandItem {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
    padding: 0 10px;
}

.brandItem span {
    font-size: 30px;
    font-weight: 600;
    color: #9F9E9D;
    text-transform: uppercase;
    white-space: nowrap;
    letter-spacing: 2px;
    line-height: 36px;
}

@media (max-width: 768px) {
    .brandItem span {
        font-size: 18px;
    }
}