.page {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 100vh;
    padding-top: 132px;
}

@media (max-width: 768px) {
    .page {
        padding-top: 114px;
    }
}