CLOUDINARYSETTINGS__CLOUDNAME=YOUR_CLOUDINARY_CLOUDNAME
CLOUDINARYSETTINGS__APIKEY=YOUR_CLOUDINARY_API_KEY
CLOUDINARYSETTINGS__APISECRET=YOUR_CLOUDINARY_API_SECRET
# Setup guide:
# https://www.youtube.com/watch?v=ok9mHOuvVSI

KEYCLOAK__URL=http://keycloak:8080
KEYCLOAK__REALM=clothy-realm
KEYCLOAK__CLIENTID=clothy-api
KEYCLOAK__CLIENTSECRET=YOUR_CLIENT_SECRET
# Pulumi (GET CLIENT SECRET):
# run pulumi up first, then:
# pulumi stack output clientSecret --show-secrets

GMAIL__APP_PASSWORD=YOUR_GMAIL_APP_PASSWORD
GMAIL__FROM=YOUR_GMAIL_FROM_EMAIL
GMAIL__FROM_NAME=Clothy Support

STRIPE__SECRET_KEY=YOUR_STRIPE_SECRET_KEY
STRIPE__PUBLISHABLE_KEY=YOUR_STRIPE_PUBLISHABLE_KEY
STRIPE__WEBHOOK_SECRET=YOUR_STRIPE_WEBHOOK_SECRET
# webhook format:
# YOUR_SERVICE_URL/api/payments/webhook/stripe/

NOWPAYMENTS__API_KEY=YOUR_NOWPAYMENTS_API_KEY
NOWPAYMENTS__WEBHOOK_SECRET=YOUR_NOWPAYMENTS_WEBHOOK_SECRET
NOWPAYMENTS__CALLBACK_URL=YOUR_CALLBACK_URL
# recommended:
# YOUR_SERVICE_URL/api/payments/webhook/nowpayment/

FRONTEND__URL=http://localhost:3000
VITE_API_URL=http://localhost:8094

SUCCESS__URL=http://localhost:3000/payment/success
CANCEL__URL=http://localhost:3000/payment/cancelled

LIGHT_X_API_KEY=YOUR_LIGHTX_API_KEY
NOVAPOSHTA__API_KEY=YOUR_NOVA_POSHTA_API_KEY

POSTGRES_PASSWORD=YOUR_DB_PASSWORD

RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest

KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD=admin

SEED__MODE=Real
# Real = real seed data
# Fake = mocked/bogus data