.checkboxItem {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.checkbox {
    width: 18px;
    height: 18px;
    margin-right: 10px;
    cursor: pointer;
    accent-color: #0078D4;
}

.checkboxLabel {
    font-weight: 400;
    font-size: 15px;
    color: var(--color-text-primary);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.itemCount {
    font-weight: 500;
    font-size: 14px;
    color: var(--color-text-primary);
}