.containerWrapper{
    padding-top: 30px;
}

.container {
    display: flex;
    gap: 40px;
    align-items: flex-start;
}

.basketList {
    display: flex;
    flex-direction: column;
    gap: 0;
    flex: 1;
    min-width: 0;
}

@media (max-width: 1440px) {
    .container {
        gap: 100px;
    }
}

@media (max-width: 1200px) {
    .container {
        gap: 50px;
    }
}

@media (max-width: 1024px) {
    .container {
        gap: 40px;
    }
}

@media (max-width: 921px) {
    .container {
        flex-direction: column;
        gap: 40px;
        margin-top: 0;
    }

    .basketList {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .container {
        gap: 32px;
        margin-bottom: 20px;
    }
}