.badge {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    padding: 5px 10px;
    border: 2px solid;
    border-radius: 30px;
    white-space: nowrap;
    font-weight: 500;
}

.icon {
    display: flex;
    align-items: center;
}